.recommendation-card {
  background: #fefefe;
  border-left: 4px solid #0d6efd;
  border-radius: 12px;
}

.youtube-video iframe {
  width: 100% !important;
  height: 650px !important;
  border-radius: 8px;
}
